<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadros</title>
</head>
<body>
    <style>
        *{
            background-color:#95a5a6;
        }
        .cuadros img {
            border-radius: 50px;
        }
    </style>
    <div class="cuadros">
        <img src="https://th.bing.com/th/id/OIP.rrw4T9Oh7X_nTLtrzoZ6kQHaHY?pid=ImgDet&rs=1" width= "220px" alt="imagen" srcset="">
        <img src="https://i.pinimg.com/originals/57/dc/9b/57dc9b574de5990e7485f7050ef733ec.jpg" width="310px" alt="" srcset="">
        <img src="https://4.bp.blogspot.com/-lie_BYYl0Bk/VO08nvEdLoI/AAAAAAADAWQ/x_ZUFAUuvUo/s1600/cuadros-abstractos-espatulados%2B(4).jpg"  width="310px" alt="" srcset="">
        <img src="https://th.bing.com/th/id/R.2af5371608776fc18eb32b35f55c5958?rik=pYoOZxvGadRzWA&riu=http%3a%2f%2f3.bp.blogspot.com%2f-3VMZmyqsvN8%2fUiY0cETccRI%2fAAAAAAAAhNg%2flxODAMSXAXA%2fs1600%2fcuadros-abstractos-oleos.jpg&ehk=HZVO0qam3z88lcODGTRACWTWDhJ4e7fjvsloJRkOWW0%3d&risl=&pid=ImgRaw&r=0"  width="310px" alt="" srcset=""><img src="https://wallpaperset.com/w/full/2/c/b/489299.jpg" width= "350px" alt="imagen" srcset="">
        <img src="https://th.bing.com/th/id/R.e3f896c86179ca2a97232c9015399634?rik=qQsDF7%2bWL10%2brg&riu=http%3a%2f%2f2.bp.blogspot.com%2f-nChVEjQEkwc%2fUWMDg-AVjyI%2fAAAAAAAABGE%2fwODZ4fhe5ws%2fs1600%2fAbstract-Art-masterpiece.jpg&ehk=fYwQUqJ%2ftpsCiPbfgABldbmm1hnwDjmXTCiaqacEVUE%3d&risl=&pid=ImgRaw&r=0" width="285px" alt="" srcset="">
    </div>

    <a href="./ejercicio.html"> Next </a>
</body>
</html>