/*1200px pc, 750px tablet, 450px celular*/
/* unidades de medidas relativas
%
Rem = tamaño de px de nuestro navegador
Em = tamaño de fuente del elemento padre
vh
vw

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
}*/

.forma{
    width: 200px;
    height: 100px;
    font-size: 20px;
    padding: 5px;
    margin: auto;
    text-align: center;
}

.color{
    background-color: aquamarine;
    border: 1px solid rgb(143, 11, 11);
}

p{
    padding: 20px;
    border: 2px solid black;
    margin: 0;
}

a{
    width: 50%;
    padding: 10px;
    border: 3px solid red;
    display: block;
    margin: 30px auto;
    text-align: center;
}