*{
    background-color: rgba(45,134,82,255);
}

.text-uno{
    color: rgba(183,209,176,255);
}

.text-dos{
    color: rgba(181,183,129,255);
}

.text-tres{
    color: rgba(220,151,45,255);
}

.text-cuatro{
    color: rgba(183,209,176,255);
}

.text-cinco{
    color: rgba(220,151,45,255);
}

.text-seis{
    color: rgba(217,33,77,255);
}

.text-siete{
    color: rgba(181,183,129,255);
}

.text-ocho{
    color: rgba(217,33,77,255);
}