*{
    background-color: green;
    color: white;
}

.color{
    border: 3px solid red;
    background-color: white;
}

.lineal{
    display: inline-block;
    width: 90px;
}

.btn{
    background-color: white;
    color: black;
    border: none;
    padding: 5px 20px;
    margin: 40px 20px;
}